/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fundo branco */
    color: #333;

}    
.header {
    text-align: center;
    padding: 40px;
    background-color: #fff;
    
}

.title {
    font-size: 2.0rem;
    margin-bottom: 10px;
}

.logo {
    max-width: 200px;
    border-radius: 50%;

}
.car-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    max-width: 850px;
    padding: 10px 250px;
    justify-items: center;
    margin: 0 10px;
    padding-left: 21.5%;
}

.car-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    overflow: hidden;
    width: 100%; 
    max-width: 700px; 
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.car-image {
    width: 100%; 
    height: auto; 
    border-radius: 5px 5px 0 0; 
    object-fit: cover; 
   padding-bottom: 55px;
}

.car-info {
    padding-left: 20px;
    width: 600px; 
    text-align: left;
}

.car-price {
    font-size: 1.5rem;
    color: white; 
}

.car-info span {
    font-weight: bold;
    color: #f9d342; 
}

.car-button {
    margin-top: 10px;
    background-color: #f9d342;
    color: #000;
    border: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.car-button:hover {
    background-color: #d4b431;
}
